* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

$main-color: #5651e5;


@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width: 280px) {
        @content;
    }
}