.widget {
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: space-between;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,201.47);
    border-radius: 7px;
    height: 120px;


    .left, .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-weight: bold;
            font-size: 15px;
            color: rgb(160, 160, 160);
        }

        .counter {
            font-size: 23px;
            font-weight: 500;
        }

        .link {
            width: max-content;
            font-size: 14px;
            border-bottom: 1px solid gray;
            cursor: pointer;
        }

        .percentage {
            display: flex;
            align-items: center;
            font-size: 16px;

            &.positive {
                color: green;
            }

            &.negative {
                color: red;
            }
        }
        .icon {
            font-size: 18px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}