@import "../../styles/global-media-queries";


.homeContainer {

    width: 100%;
    padding: 20px;


    .widgets, .charts {
        display: flex;
        padding: 20px 0px;
        gap: 20px;


        @include tablet {
            flex-direction: column;
        }
                
    }

    .charts {
        padding: 5px 0px;
    }

    .listContainer {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
        box-shadow: 2px 4px 10px 1px rgba(201,201,201,201.47);
        padding: 20px;
        margin: 20px 0;
        width: 100%;

        .listTitle {
            font-weight: 500;
            color: gray;
            margin-bottom: 15px;
        }
    }
}









// .home {
//     background-color: #5651e5;
// }