@import "../../styles/global-media-queries";

.newContainer {

    .top,
    .bottom {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
        box-shadow: 2px 4px 10px 1px rgba(201,201,201,201.47);
        padding: 10px;
        margin: 20px;
        display: flex;


        @include tablet {
            flex-direction: column;
        }


        h1 {
            color: lightgrey;
            font-size: 25px;
        }

        .left {
            flex: 1;
            text-align: center;

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: contain;
            }
        }

        .right {
            flex: 2;

            form {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                justify-content: space-around;
                padding: 20px;
                

                .formInput {
                    width: 40%;

                    label {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        icon {
                            cursor: pointer;
                        }
                    }

                    input {
                        width: 100%;
                        padding: 5px;
                        border: none;
                        border-bottom: 1px solid grey;
                    }
                }

                button{
                    width: 150px;
                    padding: 10px;
                    border: none;
                    background-color: $main-color;
                    color: white;
                    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
                    box-shadow: 2px 4px 10px 1px rgba(201,201,201,201.47);                                
                    font-weight: bold;
                    cursor: pointer;
                    margin-top: 10px;
                }
            }
        }
    }
}